<% title "Ruby Together next projects" %>

<p class="callout">Our Project List.</p>

<section class="group">
  <h3 id="next-projects">Next Projects</h3>

  <ul>
    <% @projects.each do |project| %>
      <li>
        <div><%= project['name'] %></div>
        <div><%= project['body'] %></div>
      </li>
    <% end %>
  </ul>

</section>

<%= render "join" %>
